<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woolution.shop.mapper.SalesMapper">

    <insert id="infoInsert">
        insert into sales (sales_price, sales_createAT, sales_state, sales_time, service_id, cust_id)
        values (#{sales_price}, now(), 1, #{sales_time}, #{service_id}, #{cust_id})
    </insert>

    <select id="infoList" resultType="hashmap">
        select sales.id,
               sales_price,
               date_format(sales_createAT, '%Y-%m-%d')   as sales_createAT,
               sales_state,
               date_format(sales_time, '%Y-%m-%dT%h:%i') as sales_time,
               service.service_nm                        as service_nm,
               cust.cust_nm                              as cust_nm,
               service.id                                as service_id,
               cust.id                                   as cust_id
        from sales,
             cust,
             service
        where service_id = service.id
          and cust.id = cust_id
          and sales_state = 1
    </select>

    <update id="infoMod">
        update sales
        set service_id  = #{service_id},
            cust_id     = #{cust_id},
            sales_price = #{sales_price},
            sales_time  = #{sales_time}
        where id = #{id}
    </update>

    <update id="infoDel">
        update sales
        set sales_state = false
        where id = #{id}
    </update>

    <select id="infoServiceList" resultType="hashmap">
        select id, service_nm
        from service
    </select>

    <select id="infoCustList" resultType="hashmap">
        select id, cust_nm
        from cust
    </select>

</mapper>